/*Font families*/

/*Roboto*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/***General Formatting**/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--main-text-font);
}

/*Body formatting*/
body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/*Format main*/
main{ 
    flex: 1;
}

/*Create container class*/
.container {
    max-width: 1200px; /* Example max-width */
    margin: 0 auto; /* Center the container */
    padding: 20px;
}

/*Root styles*/
:root {
    --dark-background: #1F2937;
    --main-text-font: "Roboto", sans-serif;
    --text-color: #F9FAF8;
    --header-link-color: #E5E7EB;
    --header-logo-color: #F9FAF8;
    --button-color: #3882F6;
    --quote-bg-color: #E5E7EB;
}

/*Format header*/
header {
    background-color: var(--dark-background);
    padding: 16px;
}

/*Format header content*/
.header-content {
    display: flex;
    justify-content: space-between;
}

/*Format header logo*/
.header-logo {
    font-size: 24px;
    color: var(--header-logo-color);
}

/*Format navigationbar*/
.navigation-bar ul{
    list-style-type: none;
    display: flex;
    gap: 20px;
}

.navigation-bar ul li a, .hero-text p{
    text-decoration: none;
    color: var(--header-link-color);
    font-size: 18px;
}

/*Format hero section*/
.hero {
    background-color: var(--dark-background);
}

/*Format hero content container*/
.hero-content {
    display: flex;
}

/*Format hero text*/
.hero-text {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

/*Format hero text title*/
.hero-text h2 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

/*Format hero text*/
.hero-text p {
    margin-bottom: 10px;
    line-height: 2;
}

/*Format hero img container*/
.hero-img-container {
    flex: 1;
}

/*Format hero img*/
.hero-img {
    width: 100%;
    height: auto;
}

/*Format hero button*/
.hero-text button {
    background-color: var(--button-color);
    display: inline-block;
    width: 100px;
    border: none;
    border-radius: 5px;
    color: var(--header-link-color);
    font-family: var(--main-text-font);
    font-size: 18px;
    padding: 10px; 
}

/*Format random information*/
.randomInfo {
    text-align: center;
}

/*Format box-container*/
.box-container {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    padding: 25px;
}

/*Format box-item*/
.box-item {
    max-width: 200px;
    padding: 20px;
}

/*Format boxs*/
.box {
    border: 2px solid var(--button-color);
    border-radius: 10px;
    width: 100%;
    height: 150px;
    margin-bottom: 10px;
}

/*Format quote background color*/
.quote {
    background-color: var(--quote-bg-color);
}

/*Format quote text*/
.quote-text {
    font-size: 36px;
    color: var(--dark-background);
    font-weight: 300;
    font-style: italic;
    padding: 50px;
}

/*Format author*/
.author {
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
    color: var(--dark-background);
}
/*Format footer*/
footer {
    background-color: var(--dark-background);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
    padding: 16px;
}